blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/*@font-face {*/
/*  font-family: 'Montserrat', sans-serif;*/
/*  src: url("../public/font/Montserrat/Montserrat-Regular.ttf") format("ttf");*/
/*}*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: #fdf6f3;
  font-weight: 400;

}
a {
  text-decoration: none;
  color: #000;
}
.slick-slide,
input,
textarea {
  outline: 0;
}
strong {
  font-weight: 700;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: inherit;
}
h1 {
  font-size: 43px;
  line-height: 1.1;
  font-weight: 700;
}
h2 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
h3 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 500;
}
.wpcf7-list-item {
  margin: 0 !important;
}
.wpcf7-not-valid-tip {
  font-size: 10px !important;
  position: absolute !important;
  bottom: -10px !important;
  height: 10px !important;
}
.wpcf7 form .wpcf7-response-output,
.wpcf7-spinner {
  display: none !important;
}
.content strong {
  font-weight: 700;
}
.content p {
  margin-bottom: 10px;
}
.content ul {
  list-style: inherit;
  margin: 10px 0;
  padding: inherit;
}
.content li {
  list-style: inherit;
  margin: 5px 0;
  padding: inherit;
  padding-left: 0;
}
.content img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
.content img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
.content img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content .alignright {
  float: right;
}
.content .alignleft {
  float: left;
}
.content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.screen_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.screen_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
.next,
.prev {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  z-index: 99;
  cursor: pointer;
}
.prev:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 5px solid #74ded0;
  border-right: 5px solid #74ded0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.next:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-top: 5px solid #74ded0;
  border-right: 5px solid #74ded0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.next:hover:before,
.prev:hover:before {
  border-top: 5px solid #464647;
  border-right: 5px solid #464647;
}
.prev {
  left: -30px;
}
.next {
  right: -30px;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slick-dots li button {
  display: none;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #aeaeae;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots .slick-active,
.slick-dots li:hover {
  background-color: #74ded0;
}
.burger {
  position: absolute;
  top: 37px;
  right: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99999;
}
.burger_icon {
  display: block;
  position: relative;
  background: #fff;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger_icon:after,
.burger_icon:before {
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger_icon:after {
  top: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger_icon:before {
  top: -7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger_active .burger_icon {
  background: 0 0;
}
.burger_active .burger_icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger_active .burger_icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mob_menu {
  position: fixed;
  background: #f99d9f;
  max-width: 320px;
  height: 100%;
  top: 90px;
  right: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999999;
  box-sizing: border-box;
  padding: 50px 0;
  width: 100%;
}
.mob_menu_open {
  right: 0;
}
.mob_menu ul {
  padding: 0;
  margin: 0;
}
.mob_menu li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #fff;
}
.mob_menu ul li a {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding: 0 30px;
}
.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}
.popup.active {
  display: block;

}
.popup .close1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.popup-block .close2 {
  position: absolute;
  top: -22px;
  right: -22px;
  cursor: pointer;
  z-index: 9;
  width: 44px;
  height: 44px;
  background: #74ded0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup-block {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  width: 90vw;
  max-width: 600px;
  background: #fff;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  padding: 38px 42px 35px;
}
.popup_product .popup-block {
  max-width: 90vw;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header_items {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_logo,
.header_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_logo a img {
  max-width: 160px;
}
.header_logo a span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_logo a span:last-child {
  margin-left: 20px;
  color: #382626;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.2;
}
.hide {
  display: none !important;
}
.filtered {
  display: none !important;
}
.header_search_wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.header_search_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #fdf6f3;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0px 25px;
  transform: translateX(-100%);
  transition: 0.2s ease-out;
  opacity: 0;
}
.header_search_menu.active {
  transform: translateX(0);
  opacity: 1;
}
.header_search_menu.opened {
  transform: translateX(0%);
  opacity: 1;
}
.search_menu_filters {
  min-width: 200px;
  padding: 50px 10px;
  overflow-y: scroll;
}
.search_menu_filters.mobile {
  display: none;
}
.submit_filters {
  width: 150px;
  height: 35px !important;
  font-size: 13px;
  margin-bottom: 20px;
  display: inline-flex !important;
  margin-right: 15px;
}
.remove_filters {
  display: inline-flex !important;
  width: 150px !important;
}
.filter_title {
  text-align: left;
  font-size: 20px;
  margin-bottom: 15px;
}
.custom_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.custom_checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom_checkbox:checked + label::before {
  border-color: #74ded0;
  background-color: #74ded0;
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");*/
}
.custom_checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #74ded0;
}

.custom_checkbox:not(:disabled):active + label::before {
  background-color: #74ded0;
  border-color: #74ded0;
}
.custom_checkbox:focus:not(:checked) + label::before {
  border-color: #74ded0;
}
.custom_checkbox:disabled + label::before {
  background-color: #e9ecef;
}
.custom_radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.custom_radio + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom_radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #74ded0;
}
.custom_radio:not(:disabled):active + label::before {
  background-color: #74ded0;
  border-color: #74ded0;
}
.custom_radio:checked + label::before {
  border-color: #74ded0;
  background-color: #74ded0;
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");*/
}
.custom_radio:disabled + label::before {
  background-color: #e9ecef;
}
.filter_price_from_to {
  width: 100%;
  display: flex;
  gap: 6%;
}
.filter_price_from_to input {
  width: 100%;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);
  background-color: #f7f8fa;
  outline: none;
}
.filter_price_from_to input::-webkit-outer-spin-button,
.filter_price_from_to input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.procedure_duration_checkbox,
.procedure_for_whom_radio,
.procedure_kind_radio {
  margin-bottom: 5px;
}
.procedure {
  margin-bottom: 20px;
}
.search_menu_products {
  position: relative;
  width: 100%;
  min-width: calc(100vw - 300px);
  overflow-y: scroll;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  gap: 20px;
}
.search_menu_wrapper {
  position: relative;
}
.search_close_btn {
  width: 30px;
  height: 30px;
  background-image: url('/img/close_icon.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
}
.header_filters_btn {
  cursor: pointer;
  border-radius: 10px;
  padding: 0 15px;
  display: inline-flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: #74ded0;
  display: none;
}
.header_filters_icon,
.header_close_icon {
  width: 24px;
  height: 24px;
}
.header_close_icon {
  display: none;
}
.header_searchbar {
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.search_icon {
  position: absolute;
  background-image: url('/img/search_icon.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 13px;
  left: 13px;
  display: block;
  width: 22px;
  height: 22px;
}
.live_search {
  width: 100%;
  height: 48px;
  padding-left: 50px;
  padding-right: 15px;
  border-radius: 10px;
  border: 1px solid #f7f8fa;
  width: 100%;
  background-color: #f7f8fa;
  outline: none;
}
.header_contact a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 600;
}
.header_contact a:hover {
  color: #74ded0;
}
.header_contact p {
  color: #382626;
  font-size: 14px;
  line-height: 1.2;
}
.s1 {
  background: #faafb1;
  position: relative;
  padding: 200px 0 20px;
}
.s1_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s1_left {
  width: 50%;
}
.s1 h3 {
  color: #382626;
  margin-top: 30px;
  max-width: 410px;
}
.s1_btn {
  margin-top: 30px;
}
.btn {
  color: #000;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 30px;
  background-color: #74ded0;
  background-position: center center;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
  border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
  border-color 0.2s ease-in-out;
  box-shadow: 0 5px 5px 0 rgba(26, 26, 26, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
}
.btn:hover {
  box-shadow: 0 0 15px #74ded0;
}
.s1_left_img {
  position: absolute;
  bottom: -55px;
  left: 610px;
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
  z-index: 3;
}
.s1_left_img img {
  max-width: 424px;
}
.s1_right {
  width: 46%;
}
.s1_right img {
  position: relative;
  top: -70px;
}
.s1_bg_line {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.s1_bg_line img:first-child {
  margin-right: -58px;
}
.s1_bg_line img:last-child {
  margin-left: -58px;
}
.s1_bg_line_top {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.s1_bg_line_top img:first-child {
  margin-right: -58px;
}
.s1_bg_line_top img:last-child {
  margin-left: -58px;
}
.s2 {
  margin-top: 80px;
  background: #fddfe0;
  padding: 90px 0 100px;
  position: relative;
}
.s2_content {
  position: relative;
}
.s2_rose {
  position: absolute;
  width: 200px;
  bottom: -200px;
  left: -30px;
  z-index: 2;
}
.subtitle {
  margin: 20px auto 0;
  font-size: 16px;
  line-height: 1.45;
  text-align: center;
  max-width: 960px;
}
.s2_items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s2_item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s2_item_img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.s2_item_img .screen_img,
.s2_item_img img {
  border-radius: 50%;
}
.s2_item_title {
  margin-top: 25px;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
}
.s2_item_btn {
  margin-top: 18px;
}
.s2_item_btn .btn {
  width: 184px;
}
.s3 {
  padding: 90px 0 130px;
  position: relative;
}
.s3_row {
  margin: 40px auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s3_row_item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s3_row_item_ico {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}
.s3_row_item_right {
  width: 85%;
}
.s3_row_item_title {
  font-size: 16px;
  line-height: 1.35;
  font-weight: 600;
}
.s3_row_item_desc {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 300;
}
.s3_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.s3_gallery_item {
  position: relative;
  width: 24%;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.s3_gallery_item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.s3_gallery_item:hover:before {
  opacity: 1;
}
.s4 {
  background: #fddfe0;
  position: relative;
  padding: 100px 0;
}
.s4_content {
  position: relative;
}
.seashell_img {
  position: absolute;
  width: 180px;
  right: -30px;
  top: -150px;
  z-index: 3;
}
.products {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.products .product {
  display: flex !important;
}
.product {
  width: 31%;
  min-width: 340px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}
.product_img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.product_img .screen_img,
.product_img img {
  border-radius: 10px 10px 0 0;
}
.product_content {
  padding: 30px;
  border-radius: 0 0 10px 10px;
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product_desc {
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
}
.product_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  min-height: 54px;
}
.product_work {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
}
.product_price {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.35;
}
.product_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.product_buy {
  margin-right: 10px;
  height: 35px;
  font-size: 13px;
}
.product_more {
  color: #000;
  font-size: 13px;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid #74ded0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 35px;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product_more:hover {
  box-shadow: 0 0 15px #74ded0;
}
.s5 {
  padding: 90px 0;
}
.s6 {
  background: #fddfe0;
  position: relative;
  padding: 100px 0 20px;
}
.s7 {
  background: #fddfe0;
  padding-bottom: 90px;
}
.s7_slider {
  position: relative;
  padding-bottom: 30px;
}
.s7_slider_item_block {
  margin-top: 15px;
}
.s7_slider_item_block_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
}
.s7_slider_item_block_desc {
  margin-top: 15px;
  font-size: 16px;
}
.s7_slider_item_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s7_slider_item_star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
}
.s7_slider_item_rating_desc {
  font-size: 16px;
}
.s8 {
  padding-top: 90px;
}
.s8_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s8_left {
  width: 40%;
}
.s8_left h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.17;
}
.s8_left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
}
.s8_left p {
  margin-top: 40px;
  font-size: 16px;
}
.social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social a {
  margin-right: 15px;
}
.s8_right {
  width: 55%;
}
.map {
  width: 100%;
  height: 400px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.footer_row1 {
  background-color: #07ad9a;
  padding: 20px 0 30px;
}
.footer_row1_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 180px;
}
.footer_row1 p {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  font-size: 14px;
}
.footer_row2 {
  padding: 10px 0 15px;
  background-color: #127067;
  font-size: 14px;
  color: #dcb46c;
}
.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.p-2 button {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  border: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.remove_btn {
  background-color: #e3445c;
}
.clear_cart {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  padding: 10px 20px !important;
}
.cart_name {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 10px;
}
.cart_price {
  width: 80px;
  text-align: center;
  margin-right: 10px;
}
.cart_count {
  padding: 0 5px;
}
.cart_rem {
  padding-left: 10px;
}
.cart_form {
  width: 100%;
  margin-top: 30px;
}
.cart_form_input {
  margin-bottom: 10px;
  width: 100%;
}
.cart_form_input input {
  width: 100%;
  height: 56px;
  padding: 0 10px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #000;
}
.cart_form_submit,
.cart_form_submit input {
  width: 100%;
}
.pop_bl {
  display: block;
}
.product_popup {
  max-width: 1200px;
  margin: 20px auto;
}
.product_popup_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.product_popup_img {
  width: 30%;
}
.product_popup_right {
  width: 70%;
  padding-left: 30px;
}
.product_popup_content {
  margin-top: 20px;
  padding-left: 20px;
}
.popup_product .product_popup_items {
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
}
.popup_product .product_popup_items::-webkit-scrollbar {
  width: 4px;
  background-color: #f9f9fd;
}
.popup_product .product_popup_items::-webkit-scrollbar-thumb {
  background-color: #223c50;
}
.popup_product .product_popup_items::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
.to_cart {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.to_cart svg {
  width: 40px;
  height: 40px;
}
.to_cart_count {
  width: 30px;
  height: 30px;
  background-color: red;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  right: -3px;
  bottom: -3px;
  text-align: center;
  line-height: 30px;
}
.popup_title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.popup_subtitle {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
}
.total_price_wrapper {
  margin-bottom: 20px;
}
.total_price_title {
  text-align: left;
}
.total_price {
  font-size: 20px;
}
@media screen and (max-width: 1800px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1700px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1600px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1500px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1450px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1350px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1270px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .header_contact,
  .header_logo a span:last-child,
  .s1_left_img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  header {
    background-color: #f99d9f;
    position: fixed;
  }
  .header_items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header_logo a img {
    max-width: 50px;
  }
  .header_search_wrapper {
    width: 80%;
  }
  .filters_btn_title {
    display: none;
  }
  .products {
    justify-content: space-evenly;
  }
  .s1 {
    padding: 100px 0 20px;
  }
  .s1_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .s1_left {
    width: 100%;
    margin-top: 30px;
  }
  .s1_left h1 {
    font-size: 25px;
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
  }
  .s1_left h3 {
    font-size: 14px;
    text-align: center;
    max-width: 190px;
    margin: 30px auto 0;
  }
  .s1_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s1_right {
    width: 100%;
  }
  .s1_right img {
    top: auto;
  }
  .s2_items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .s2_item {
    width: 100%;
    margin-bottom: 50px;
  }
  .seashell_img {
    display: none;
  }
  .product {
    min-width: 280px;
    margin-bottom: 50px;
  }
  .product_more,
  .product_buy {
    width: 150px;
  }
  .product_buy {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .product_content {
    justify-content: center;
  }
  .s8_items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .s8_left {
    width: 100%;
  }
  .s8_right {
    width: 100%;
    margin-top: 20px;
  }
  .map {
    height: 250px;
  }
  .footer_logo img {
    max-width: 50px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
    line-height: 26px;
  }
  h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .product {
    min-width: 250px;
  }
  .popup-block {
    padding: 30px 15px;
  }
  .s3_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .s3_row_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .s3_gallery_item {
    width: 48%;
    height: 122px;
    margin-bottom: 20px;
  }
  .cart-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
  }
  .cart-cart_name {
    padding-left: 0;
    width: 100%;
    margin: 10px 0;
  }
  .cart_form_input input {
    height: 40px;
    font-size: 14px;
  }
  .product_popup_items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product_popup_img {
    width: 100%;
  }
  .product_popup_right {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
  .search_menu_filters {
    display: none;
  }
  .search_menu_filters.mobile {
    position: absolute;
    width: 100%;
    height: calc(100vh);
    z-index: 999999;
    background-color: #f7f8fa;
    top: 0;
    left: 0;
    display: block;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.2s ease-out;
  }
  .search_menu_filters.mobile.opened {
    transform: translateX(0);
    opacity: 1;
  }
  .filters_close_btn {
    width: 30px;
    height: 30px;
    /*!*background-image: url(../img/close_icon.webp);*!*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    right: 25px;
    top: 10px;
    cursor: pointer;
  }
  .header_filters_btn {
    display: flex;
  }
  .header_searchbar {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .popup-block .close2 {
    top: -11px;
    right: 0;
    width: 22px;
    height: 22px;
  }
  .header_searchbar {
    width: 55%;
  }
}
@media screen and (max-width: 380px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */
